<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Birth year</th>
      <th scope="col">First album year</th>
      <th scope="col" colspan="4"></th>
    </tr>
  </thead>

  <tbody id="artists">
    <%= render @artists %>
  </tbody>
</table>

<br>

<h2>Create Artist</h2>
<%= render 'form', artist: @artist %>
